.box1 {
  display: flex;
  flex-wrap: wrap;

  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 5px;

  background-color: rgb(224, 242, 248);

}

.classe_lista {
  display: flex;
  flex-grow: 1;
}

.botoes_painel {
  display: flex;
  padding: 5px;
  margin-top: 5px;
  gap: 6px;
}

