.item {
  display: flex;
  justify-content: space-between;

  --height: 3rem;

  border-width: 1px;
  border-style: solid;
  border-color:  #ccc;
  border-radius: 8px;

  font-size: 20px;
  font-weight: bold;
  line-height: 2px;

  background-color: white;
  margin: 4px;
  padding: 3px;
}

.item-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-texto p {
  margin-bottom: 0.5rem;
}

.txt-hora {
  flex: 1;
  font-size: 13px;
  font-style: italic;
  color: gray;
  margin-top: 5px;
  margin-right: 1rem;
  --padding-top: 1px;

  --border: 1px solid blue;
  height: 1rem;
}

.lin-2 {
  display: flex;
  align-items: center;
}

.pcl {
  background-color: aqua;
}
