<div class="item">
  <p-button [icon]="iconLeftButton" [rounded]="true" severity="warning" (click)="altStatus(idLeftButton)" *ngIf="statusDisponivel"></p-button>
  <div class="item-texto">
    <p>{{ listaVezItem.nome_atendente }}</p>
    <div class="lin-2">
      <span class="txt-hora">12:13</span>
      <p-badge *ngIf="badgeVisible"  [value]="descMotivo" severity="danger"></p-badge>
    </div>
  </div>
  <p-button [icon]="iconRightButton" [rounded]="true" severity="success" (click)="altStatus(idRightButton)"></p-button>
</div>

